/.vs
*.cache
/*/Debug
/*/bin/Debug
/*/obj/Debug
/*/obj/x86/Debug
/*/obj/x64/Debug
/*/Release
/*/bin/Release
/*/obj/Release
/*/obj/x86/Release
/*/obj/x64/Release
/bin/Release
/packages
/bin/Debug
/*/bin
*.suo
*.obj
/*/Properties/PublishProfiles/*
/*/AppData
/.bash_history
/.viminfo

